.enlaces {
	font-family: "Trebuchet MS", Arial;
	font-size: 10pt;
	font-style: bold;
	color: #003399;
}
A:link {background: ;
	color:#003366;
	text-decoration: none;
}
A:visited {background: ;
	text-decoration: none;
	color: #0066FF;
}
A:active {background: ;
	text-decoration: none;
	color: #0033CC;
}
A:hover {background: ;
	font-weight: normal;
	color: #CC0000;
	text-decoration: underline;
}
.linksbarra {
	font-family: "Trebuchet MS", Arial;
	font-size: 11px;
	font-style: normal;
	color: #CC0000;
}
