.texto {
	font-family: "Trebuchet MS", Arial;
	font-size: 10pt;
	font-style: normal;
	color: #003399;
	text-align: justify;
}
.resaltados {
	font-family: "Trebuchet MS", Arial;
	font-size: 10pt;
	color: #CC0000;
	font-weight: bold;
	text-decoration: underline;
}

.credito{
	font-family: "Trebuchet MS", Arial;
	font-size: 10pt;
	font-style: normal;
	color: #003399;
	text-align: center;
}
