#button {
width: 128;
height: auto;
border-right: 0px solid #000;
padding: 0 0 0 0;
margin-bottom: lpx;
font-family: 'Trebuchet MS', Arial, sans-serif;
font-size: 9px;
font-weight: bold;
font-size-adjust:none;
background-color: #E5EFFA;
color: #E5EFFA;
}

#button ul {
margin: 0;
padding: 0;
}

#button li {
border-bottom: 1px solid #666666;
margin: 0;
}

#button li a {
display: block;
padding: 2px 2px 2px 15px;
border-left: 1px solid #E5EFFA;
border-right: 1px solid #E5EFFA;
background-color: #E5EFFA;
color: #000000;
text-decoration: none;
width: 100%;
}

html>body #button li a {
width: auto;
}

#button li a:hover {
border-left: 1px solid #0033CC;
background-repeat:no-repeat;
background-image: url(images/flechitab.gif);
background-position: left;
border-right: 1px solid #0033CC;
background-color: #0033CC;
font-weight: bold;
color: #FFFFFF;
}
